<a class="wishlist__item" href="{{ product.product_url__uri }}" target="_blank">
    <span class="wishlist__item__brand">{{ product.product_brand }}</span>
    <span class="wishlist__item__name">{{ product.product_name }}</span>
    <span class="wishlist__item__price">{{ product.product_price }}</span>
</a>