/* Colors */
/* #1293C9 */
/* #009FE3 */
/* #0C5C7F */
/* #07364A */
/* #002337 */
/* #75caee */
/* #D4EDFC */
/* #EAF6FE */
/* #979797 */
/* #BFBFBF */
/* #DAE0E3 */
/* #FAFAFA */
/* Fonts */
/* @todo: refactor after Seven is removed as base theme */
/* 13px */
/* 13px */
/* 9px */
/* 20px/13px */
/* Spacing */
/* 10px/16px */
/* 20px/16px */
/* 8px/16px */
/* Device breakpoints */
/* toolbar */
/* line 5, ../sass/article-form.scss */
body .horizontal-tabs {
  border: 0;
}
/* line 8, ../sass/article-form.scss */
body .horizontal-tabs .horizontal-tabs-list {
  background-color: transparent;
  border: 0;
}
/* line 12, ../sass/article-form.scss */
body .horizontal-tabs .horizontal-tabs-list > li {
  height: 35px;
}
/* line 17, ../sass/article-form.scss */
body .horizontal-tabs .horizontal-tab-button {
  border: 1px solid #c2c2c2;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(242, 242, 240, 0.7);
  padding-left: 15px;
  padding-right: 15px;
}
/* line 26, ../sass/article-form.scss */
body .horizontal-tabs .horizontal-tab-button.selected {
  background-color: #fff;
}
/* line 32, ../sass/article-form.scss */
body .horizontal-tabs-panes {
  border: 1px solid #c2c2c2;
  margin-top: -6px;
}
/* line 37, ../sass/article-form.scss */
body .horizontal-tabs-pane {
  padding: 0;
}
/* line 41, ../sass/article-form.scss */
body fieldset {
  border-left: 0;
  border-right: 0;
}
/* line 45, ../sass/article-form.scss */
body fieldset fieldset, body fieldset fieldset:not(.fieldgroup) {
  border: 0;
  padding-right: 0;
}
/* line 51, ../sass/article-form.scss */
body fieldset:not(.fieldgroup) {
  margin-top: 2.5em;
}
/* line 54, ../sass/article-form.scss */
body fieldset:not(.fieldgroup):first-child {
  margin-top: 0;
}
/* line 59, ../sass/article-form.scss */
body .form-item {
  margin-top: 1.5em;
  padding-top: 0;
}
/* line 65, ../sass/article-form.scss */
body .form-wrapper .field--type-string {
  margin-top: 0em;
}
/* line 70, ../sass/article-form.scss */
body label {
  margin-bottom: 0.4em;
}
/* line 74, ../sass/article-form.scss */
body input.form-autocomplete,
body input.form-text,
body input.form-tel,
body input.form-email,
body input.form-url,
body input.form-search,
body input.form-number,
body input.form-color,
body input.form-file,
body input.form-date,
body input.form-time,
body textarea.form-textarea {
  min-height: 35px;
  width: 100%;
  background: none;
  background-color: white;
}
/* line 92, ../sass/article-form.scss */
body ul.tips, body div.description, body .form-item .description {
  margin-top: 0.5em;
}
/* line 95, ../sass/article-form.scss */
body ul.tips:before, body div.description:before, body .form-item .description:before {
  content: "\00bb";
  font-size: 15px;
  color: #4fa5ff;
  margin-right: 4px;
}
/* line 104, ../sass/article-form.scss */
body .field--widget-entity-reference-paragraphs .tabledrag-toggle-weight-wrapper {
  margin-bottom: 1em;
}
/* line 109, ../sass/article-form.scss */
body .field--name-field-media-images {
  margin-top: 1.5em;
  border-top: 1px solid #e6e4df;
}
/* line 116, ../sass/article-form.scss */
body .field-multiple-table .fieldset-wrapper > .form-wrapper > * {
  margin-top: 1.5em;
}

/* line 123, ../sass/article-form.scss */
.inline-entity-form-media-thumbnail {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* line 129, ../sass/article-form.scss */
.touchevents .draggable td {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* line 135, ../sass/article-form.scss */
.touchevents a.tabledrag-handle .handle {
  height: 40px;
}

/**
* Harm want only 1 Label
**/
/* line 142, ../sass/article-form.scss */
#edit-field-top-paragraphs, #edit-field-paragraphs {
  font-size: 0;
  line-height: 0;
}
/* line 146, ../sass/article-form.scss */
#edit-field-top-paragraphs > *, #edit-field-paragraphs > * {
  font-size: 12px;
  line-height: 1;
}

/* line 152, ../sass/article-form.scss */
#edit-field-presenter-media-wrapper fieldset {
  padding-left: 0;
}

/* line 157, ../sass/article-form.scss */
#field-paragraphs-values > thead, #field-top-paragraphs-values > thead {
  display: none;
}
/* line 162, ../sass/article-form.scss */
#field-paragraphs-values .draggable:first-child, #field-top-paragraphs-values .draggable:first-child {
  border-top: 1px solid #e6e4df;
}

/* line 170, ../sass/article-form.scss */
.field--widget-entity-reference-paragraphs .paragraph-type-top {
  padding-top: 1em;
}
/* line 174, ../sass/article-form.scss */
.field--widget-entity-reference-paragraphs .paragraphs-subform {
  padding-bottom: 1em;
}

/* line 180, ../sass/article-form.scss */
.field--name-field-promote-states legend .fieldset-legend {
  display: none;
}
/* line 184, ../sass/article-form.scss */
.field--name-field-promote-states .form-item {
  padding-bottom: 10px;
}
/* line 188, ../sass/article-form.scss */
.field--name-field-promote-states .form-item-field-promote-states-channel-presenter {
  padding-bottom: 20px;
}
/* line 192, ../sass/article-form.scss */
.field--name-field-promote-states .form-item-field-promote-states-fb-instant-articles {
  border-top: 1px solid #c2c2c2;
  padding-top: 20px;
}

/* line 199, ../sass/article-form.scss */
.advertising_product .field--name-product-image {
  display: inline;
  float: left;
}

/* adapted from backend.scss of thunder_admin contrib theme from CSS class article-teaser */
/* line 206, ../sass/article-form.scss */
fieldset.article-presenter .fieldset-wrapper .field--name-field-teaser-text {
  padding: 0 10px;
}

/* line 212, ../sass/article-form.scss */
fieldset.article-presenter .field--name-field-presenter-media summary {
  display: none;
}
/* line 216, ../sass/article-form.scss */
fieldset.article-presenter .field--name-field-presenter-media .media-form__item-widget {
  background: #d4edfc;
}
@media (min-width: 900px) {
  /* line 222, ../sass/article-form.scss */
  fieldset.article-presenter div.field--widget-entity-browser-entity-reference div.entities-list > div {
    margin: 10px 0;
  }
  /* line 226, ../sass/article-form.scss */
  fieldset.article-presenter .fieldset-wrapper {
    display: flex;
  }
  /* line 229, ../sass/article-form.scss */
  fieldset.article-presenter .fieldset-wrapper .field--name-field-presenter-media {
    width: 225px;
    min-width: 225px;
  }
  /* line 234, ../sass/article-form.scss */
  fieldset.article-presenter .fieldset-wrapper .field--name-field-presenter-media details.form-wrapper {
    border: 0;
  }
}
